<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AVRoutingControllerIRSessionServiceTokenKey</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGlCwwTFBVVJG51bGzTDQ4PEBES
	ViRjbGFzc15zZXJ2aWNlUGFja2FnZV8QEXNlcnZpY2VJZGVudGlmaWVygASAA4ACXxAm
	Y29tLmFwcGxlLkFWS2l0LlJvdXRlUGlja2VyVmlld1NlcnZpY2UQANIWFxgZWiRjbGFz
	c25hbWVYJGNsYXNzZXNeSVJTZXJ2aWNlVG9rZW6iGhteSVJTZXJ2aWNlVG9rZW5YTlNP
	YmplY3QACAARABoAJAApADIANwBJAEwAUQBTAFkAXwBmAG0AfACQAJIAlACWAL8AwQDG
	ANEA2gDpAOwA+wAAAAAAAAIBAAAAAAAAABwAAAAAAAAAAAAAAAAAAAEE
	</data>
	<key>AlwaysRestoreSessionAtLaunch</key>
	<true/>
	<key>AutoFillFromiCloudKeychain</key>
	<false/>
	<key>AutoFillPasswords</key>
	<true/>
	<key>AutoOpenSafeDownloads</key>
	<false/>
	<key>AutoplayPolicyWhitelistConfigurationUpdateDate</key>
	<date>2025-10-03T05:45:04Z</date>
	<key>AutoplayQuirksWhitelistConfigurationUpdateDate</key>
	<date>2025-10-03T05:44:10Z</date>
	<key>BlockStoragePolicy</key>
	<integer>2</integer>
	<key>BrowsingAssistantConsentState</key>
	<integer>1</integer>
	<key>CachedExtensionOnboardingIconDownloadTime</key>
	<date>2025-09-18T23:19:21Z</date>
	<key>ClearBrowsingDataLastIntervalUsed</key>
	<string>all history</string>
	<key>ClearBrowsingDataLastSelectedAllProfiles</key>
	<true/>
	<key>CloudTabsOnStartPageConsent</key>
	<true/>
	<key>DateOfLastSessionStateDataCleanup</key>
	<date>2025-10-03T17:19:02Z</date>
	<key>DefaultBrowserPromptingState3</key>
	<integer>4</integer>
	<key>DidActivateReaderAtleastOnce</key>
	<true/>
	<key>DidClearLegacySpotlightMetadataCaches</key>
	<true/>
	<key>DidGrantSearchProviderAccessToWebNavigationExtensions</key>
	<true/>
	<key>DidMigrateAppExtensionPermissions</key>
	<true/>
	<key>DidMigrateDefaultsToSandboxSecureDefaults</key>
	<true/>
	<key>DidMigrateDownloadFolderToSandbox</key>
	<true/>
	<key>DidMigrateLastSessionPlist</key>
	<true/>
	<key>DidMigrateNewBookmarkSheetToReadingListDefault</key>
	<true/>
	<key>DidMigrateResourcesToSandbox</key>
	<true/>
	<key>DidMigrateSecureDefaultsToUserDefaults</key>
	<true/>
	<key>DidMigrateStartPageDefaultSidebarVisibility</key>
	<true/>
	<key>DidMigrateToCoreSpotlightBasedHistorySearch</key>
	<true/>
	<key>DidMigrateToMoreRestrictiveFileURLPolicy</key>
	<true/>
	<key>DidMigrateWebDriverAllowRemoteAutomation</key>
	<true/>
	<key>DidMigrateWebExtensionSQLiteStorageToWebKit</key>
	<true/>
	<key>DidRecomputeStartPageAppearanceAfterFixes</key>
	<true/>
	<key>DidReportHistorySettings</key>
	<true/>
	<key>DidShowWhatsNewInSafari16</key>
	<true/>
	<key>DidShowWhatsNewInSafari17</key>
	<true/>
	<key>DidShowWhatsNewInSafari18</key>
	<true/>
	<key>DidUpdateCoreSpotlightBookmarksDataOnUpgrade</key>
	<true/>
	<key>EnableEnhancedPrivacyInPrivateBrowsing</key>
	<false/>
	<key>EnableEnhancedPrivacyInRegularBrowsing</key>
	<false/>
	<key>ExcludePrivateWindowWhenRestoringSessionAtLaunch</key>
	<false/>
	<key>ExtensionsEnabled</key>
	<true/>
	<key>ExtensionsToolbarConfiguration BrowserStandaloneTabBarToolbarIdentifier-v2</key>
	<dict>
		<key>OrderedToolbarItemIdentifiers</key>
		<array>
			<string>CombinedSidebarTabGroupToolbarIdentifier</string>
			<string>SidebarSeparatorToolbarItemIdentifier</string>
			<string>BackForwardToolbarIdentifier</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>org.languagetool.safari.extension (N6PF5J2JR8) Button</string>
			<string>HomeToolbarIdentifier</string>
			<string>com.adguard.safari.AdGuard.Extension (TC3Q7MAJXF) Button</string>
			<string>WebExtension-com.bitwarden.desktop.safari (LTZ2PFU5D6)</string>
			<string>WebExtension-com.daylightcomputer.share.safari (LL842G28N6)</string>
			<string>WebExtension-com.raycast.safari-extension.extension (SY64MV22J9)</string>
			<string>InputFieldsToolbarIdentifier</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>ShareToolbarIdentifier</string>
			<string>NewTabToolbarIdentifier</string>
			<string>TabPickerToolbarIdentifier</string>
		</array>
	</dict>
	<key>ExtensionsToolbarConfiguration BrowserStandaloneTabBarToolbarIdentifier-v3.1</key>
	<dict>
		<key>OrderedToolbarItemIdentifiers</key>
		<array>
			<string>CombinedSidebarTabGroupToolbarIdentifier</string>
			<string>SidebarSeparatorToolbarItemIdentifier</string>
			<string>TabGroupPickerToolbarIdentifier</string>
			<string>BackForwardToolbarIdentifier</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>HomeToolbarIdentifier</string>
			<string>NSToolbarSpaceItem</string>
			<string>WebExtension-com.raycast.safari-extension.extension (SY64MV22J9)</string>
			<string>NSToolbarSpaceItem</string>
			<string>NSToolbarSpaceItem</string>
			<string>WebExtension-com.bitwarden.desktop.safari (LTZ2PFU5D6)</string>
			<string>InputFieldsToolbarIdentifier</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>ShareToolbarIdentifier</string>
			<string>NewTabToolbarIdentifier</string>
			<string>TabPickerToolbarIdentifier</string>
		</array>
	</dict>
	<key>ExtensionsToolbarConfiguration PrivateBrowsingBrowserStandaloneTabBarToolbarIdentifier-v1</key>
	<dict>
		<key>OrderedToolbarItemIdentifiers</key>
		<array>
			<string>CombinedSidebarTabGroupToolbarIdentifier</string>
			<string>SidebarSeparatorToolbarItemIdentifier</string>
			<string>BackForwardToolbarIdentifier</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>InputFieldsToolbarIdentifier</string>
			<string>PrivacyReportToolbarIdentifier</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>ShareToolbarIdentifier</string>
			<string>NewTabToolbarIdentifier</string>
			<string>TabPickerToolbarIdentifier</string>
		</array>
	</dict>
	<key>ExtensionsToolbarConfiguration PrivateBrowsingBrowserStandaloneTabBarToolbarIdentifier-v2.1</key>
	<dict>
		<key>OrderedToolbarItemIdentifiers</key>
		<array>
			<string>CombinedSidebarTabGroupToolbarIdentifier</string>
			<string>SidebarSeparatorToolbarItemIdentifier</string>
			<string>BackForwardToolbarIdentifier</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>WebExtension-com.bitwarden.desktop.safari (LTZ2PFU5D6)</string>
			<string>InputFieldsToolbarIdentifier</string>
			<string>NSToolbarSpaceItem</string>
			<string>PrivacyReportToolbarIdentifier</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>ShareToolbarIdentifier</string>
			<string>NewTabToolbarIdentifier</string>
			<string>TabPickerToolbarIdentifier</string>
		</array>
	</dict>
	<key>FaviconDatabaseDidEraseLegacyDatabase</key>
	<true/>
	<key>FrequentlyVisitedSitesCache</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Cloud Genius® | Dashboard</string>
			<key>URL</key>
			<string>https://home.i.cloudgenius.app/</string>
		</dict>
		<dict>
			<key>Score</key>
			<real>0.66934525966644287</real>
			<key>Title</key>
			<string>Slickdeals: The Best Deals, Coupons, Promo Codes &amp; Discounts</string>
			<key>URL</key>
			<string>https://slickdeals.net/</string>
		</dict>
	</array>
	<key>HideHighlightsEmptyItemViewPreferenceKey</key>
	<true/>
	<key>HideStartPageFrecentsEmptyItemView</key>
	<true/>
	<key>HideSuggestionsEmptyItemView</key>
	<true/>
	<key>HomePage</key>
	<string>https://home.i.cloudgenius.app/</string>
	<key>IIO_LaunchInfo</key>
	<real>0.049760103225708008</real>
	<key>IdentifierOfExtensionWithOverridePageForNewTabs</key>
	<dict/>
	<key>IdentifierOfExtensionWithOverridePageForNewWindows</key>
	<dict/>
	<key>IncludeDevelopMenu</key>
	<true/>
	<key>LastApplicationCacheMessageTraceTime</key>
	<real>781163101.45171297</real>
	<key>LastCloudHistoryConfigurationUpdateTime</key>
	<date>2025-10-03T05:45:35Z</date>
	<key>LastExtensionSelectedInPreferences</key>
	<string>4018C949-E4DF-4F70-B64B-35A1888B424A</string>
	<key>LastInvalidAuthTypeMigrationDate</key>
	<date>2024-03-28T06:05:13Z</date>
	<key>LastOSVersionSafariWasLaunchedOn</key>
	<string>26.0.1</string>
	<key>LastOpenedSubPaneInWebsitesPrefPane</key>
	<string>ReaderPreference</string>
	<key>LastSandboxFileExtensionMaintenanceDate</key>
	<date>2025-10-03T17:19:26Z</date>
	<key>LastSharedLinksMessageTraceTime</key>
	<real>781163326.15078604</real>
	<key>LocalFileRestrictionsEnabled</key>
	<true/>
	<key>MobileDeviceRemoteXPCEnabled</key>
	<true/>
	<key>NSNavLastUserSetHideExtensionButtonState</key>
	<true/>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{1342, 870}</string>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{800, 505}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9vaxAEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA6AIA
	AAQAAAADAwAAAAQAAAUAAAABAQAAVXNlcnMAAAALAAAAAQEAAGNsb3VkZ2VuaXVzAAcA
	AAABAQAATGlicmFyeQAMAAAAAQEAAENsb3VkU3RvcmFnZQcAAAABAQAARHJvcGJveAAG
	AAAAAQEAAFNoYXJlZAAABgAAAAEBAABGYW1pbHkAAAYAAAABAQAARWVzaGFuAAAXAAAA
	AQEAAFRoZSBNYXJnb3QgQkxVIEJlbGxldnVlAAgAAAABAQAAdG8gU2hhd24oAAAAAQYA
	ABAAAAAgAAAANAAAAEQAAABYAAAAaAAAAHgAAACIAAAAmAAAALgAAAAIAAAABAMAANFE
	AAAAAAAACAAAAAQDAAA0ZgAAAAAAAAgAAAAEAwAAO2YAAAAAAAAIAAAABAMAAGn1sQAA
	AAAACAAAAAQDAACrqLEAAAAAAAgAAAAEAwAAoamxAAAAAAAIAAAABAMAAD+qsQAAAAAA
	CAAAAAQDAABpq7EAAAAAAAgAAAAEAwAAVpnlBwAAAAAIAAAABAMAAFl68QcAAAAAKAAA
	AAEGAAD4AAAACAEAABgBAAAoAQAAOAEAAEgBAABYAQAAaAEAAHgBAACIAQAACAAAAAAE
	AABBxuNm1F2TdRgAAAABAgAAAgAAAAAAAAAfAgAAAAAAAB8CAAAAAAAAAAAAAAEFAAAI
	AAAABAMAAAgAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwMAAAABAQAA
	U1NEAAgAAAAEAwAAACBFjNABAAAIAAAAAAQAAEHHFbB+AAAAJAAAAAEBAAAwNjc4MDRB
	OS1FMTM5LTQ2QUMtQjdGMS1EODY1NjE5MkEwN0IYAAAAAQIAAIEAAAABAAAA7xMAAAEA
	AADvEwAAAQAAAAEAAAABAQAALwAAADAAAAABAgAAZG5pYgAAAAABAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAcmRsZgIAAAAAAAAA8AAAAP7///8BAAAAAAAAABMAAAAEEAAA
	yAAAAAAAAAAFEAAAmAEAAAAAAAAQEAAA2AEAAAAAAABAEAAAyAEAAAAAAAACIAAApAIA
	AAAAAAAFIAAAHAIAAAAAAAAQIAAALAIAAAAAAAARIAAAWAIAAAAAAAASIAAAOAIAAAAA
	AAATIAAASAIAAAAAAAAgIAAAhAIAAAAAAAAwIAAA+AEAAAAAAAABwAAAAAIAAAAAAAAR
	wAAAIAAAAAAAAAASwAAAEAIAAAAAAAAB0AAA+AEAAAAAAAAQ0AAABAAAAAAAAAAX8AAA
	uAAAAAAAAAAi8AAAsAIAAAAAAAA=
	</data>
	<key>NSPreferencesContentSize</key>
	<string>{836, 152}</string>
	<key>NSPreferencesSelectedIndex</key>
	<integer>9</integer>
	<key>NSToolbar Configuration BrowserStandaloneTabBarToolbarIdentifier</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSToolbar Configuration BrowserStandaloneTabBarToolbarIdentifier-v2</key>
	<dict>
		<key>TB Default Item Identifiers</key>
		<array>
			<string>CombinedSidebarTabGroupToolbarIdentifier</string>
			<string>SidebarSeparatorToolbarItemIdentifier</string>
			<string>BackForwardToolbarIdentifier</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>WebExtension-com.bitwarden.desktop.safari (LTZ2PFU5D6)</string>
			<string>WebExtension-com.raycast.safari-extension.extension (SY64MV22J9)</string>
			<string>InputFieldsToolbarIdentifier</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>ShareToolbarIdentifier</string>
			<string>NewTabToolbarIdentifier</string>
			<string>TabPickerToolbarIdentifier</string>
		</array>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Item Identifiers</key>
		<array>
			<string>CombinedSidebarTabGroupToolbarIdentifier</string>
			<string>SidebarSeparatorToolbarItemIdentifier</string>
			<string>BackForwardToolbarIdentifier</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>HomeToolbarIdentifier</string>
			<string>WebExtension-com.bitwarden.desktop.safari (LTZ2PFU5D6)</string>
			<string>WebExtension-com.raycast.safari-extension.extension (SY64MV22J9)</string>
			<string>InputFieldsToolbarIdentifier</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>ShareToolbarIdentifier</string>
			<string>NewTabToolbarIdentifier</string>
			<string>TabPickerToolbarIdentifier</string>
		</array>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSToolbar Configuration BrowserStandaloneTabBarToolbarIdentifier-v3.1</key>
	<dict>
		<key>TB Default Item Identifiers</key>
		<array>
			<string>CombinedSidebarTabGroupToolbarIdentifier</string>
			<string>SidebarSeparatorToolbarItemIdentifier</string>
			<string>TabGroupPickerToolbarIdentifier</string>
			<string>BackForwardToolbarIdentifier</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>WebExtension-com.raycast.safari-extension.extension (SY64MV22J9)</string>
			<string>WebExtension-com.bitwarden.desktop.safari (LTZ2PFU5D6)</string>
			<string>NSToolbarSpaceItem</string>
			<string>InputFieldsToolbarIdentifier</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>ShareToolbarIdentifier</string>
			<string>NewTabToolbarIdentifier</string>
			<string>TabPickerToolbarIdentifier</string>
		</array>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Item Identifiers</key>
		<array>
			<string>CombinedSidebarTabGroupToolbarIdentifier</string>
			<string>SidebarSeparatorToolbarItemIdentifier</string>
			<string>TabGroupPickerToolbarIdentifier</string>
			<string>BackForwardToolbarIdentifier</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>HomeToolbarIdentifier</string>
			<string>NSToolbarSpaceItem</string>
			<string>WebExtension-com.raycast.safari-extension.extension (SY64MV22J9)</string>
			<string>NSToolbarSpaceItem</string>
			<string>NSToolbarSpaceItem</string>
			<string>WebExtension-com.bitwarden.desktop.safari (LTZ2PFU5D6)</string>
			<string>NSToolbarSpaceItem</string>
			<string>InputFieldsToolbarIdentifier</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>ShareToolbarIdentifier</string>
			<string>NewTabToolbarIdentifier</string>
			<string>TabPickerToolbarIdentifier</string>
		</array>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSToolbar Configuration NSPreferences</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSToolbar Configuration PrivateBrowsingBrowserStandaloneTabBarToolbarIdentifier-v1</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSToolbar Configuration PrivateBrowsingBrowserStandaloneTabBarToolbarIdentifier-v2.1</key>
	<dict>
		<key>TB Default Item Identifiers</key>
		<array>
			<string>CombinedSidebarTabGroupToolbarIdentifier</string>
			<string>SidebarSeparatorToolbarItemIdentifier</string>
			<string>BackForwardToolbarIdentifier</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>WebExtension-com.bitwarden.desktop.safari (LTZ2PFU5D6)</string>
			<string>NSToolbarSpaceItem</string>
			<string>InputFieldsToolbarIdentifier</string>
			<string>NSToolbarSpaceItem</string>
			<string>PrivacyReportToolbarIdentifier</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>ShareToolbarIdentifier</string>
			<string>NewTabToolbarIdentifier</string>
			<string>TabPickerToolbarIdentifier</string>
		</array>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Item Identifiers</key>
		<array>
			<string>CombinedSidebarTabGroupToolbarIdentifier</string>
			<string>SidebarSeparatorToolbarItemIdentifier</string>
			<string>BackForwardToolbarIdentifier</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>WebExtension-com.bitwarden.desktop.safari (LTZ2PFU5D6)</string>
			<string>InputFieldsToolbarIdentifier</string>
			<string>NSToolbarSpaceItem</string>
			<string>PrivacyReportToolbarIdentifier</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>ShareToolbarIdentifier</string>
			<string>NewTabToolbarIdentifier</string>
			<string>TabPickerToolbarIdentifier</string>
		</array>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame BrowserWindowFrame</key>
	<string>0 0 2560 1409 0 0 2560 1409 {"tilingState":{"tilingPosition":9,"normalizedSize":1,"untiledFrame":"{{1007, 31}, {1281, 1409}}"}}</string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>34 272 1342 870 0 0 2560 1415 </string>
	<key>NSWindow Frame NSSpellCheckerSpellingPanel</key>
	<string>814 645 431 289 0 0 2560 1409 </string>
	<key>NSWindow Frame NSSpellCheckerSubstitutionsPanel2</key>
	<string>693 393 359 150 0 0 2560 1409 </string>
	<key>NSWindow Frame NewBookmarksSheet</key>
	<string>409 617 462 209 0 0 2560 1415 </string>
	<key>NSWindow Frame Preferences</key>
	<string>425 544 836 544 0 0 2560 1409 </string>
	<key>NSWindow Frame PrivacyReportWindow</key>
	<string>-1724 -516 656 838 -1920 -733 1920 1055 </string>
	<key>NewTabBehavior</key>
	<integer>1</integer>
	<key>NewTabPageLastModified</key>
	<date>2025-01-07T03:49:00Z</date>
	<key>NewTabPageSetByUserGesture</key>
	<true/>
	<key>NewWindowBehavior</key>
	<integer>0</integer>
	<key>NewestLaunchedSafariVersion</key>
	<string>622.1.22.11.15</string>
	<key>OneStepBookmarkingLastDestinationUUID</key>
	<string>Reading List</string>
	<key>OpenPrivateWindowWhenNotRestoringSessionAtLaunch</key>
	<false/>
	<key>OpenWindows</key>
	<array/>
	<key>PrintHeadersAndFooters</key>
	<true/>
	<key>PrivacyReportStartPageData</key>
	<dict/>
	<key>PrivacyReportStartPageNumberOfTrackers</key>
	<dict/>
	<key>PrivateBrowsingRequiresAuthentication</key>
	<true/>
	<key>PrivateSearchEngineUsesNormalSearchEngineToggle</key>
	<true/>
	<key>ReaderConfiguration</key>
	<dict>
		<key>fontFamilyNameForLanguageTag</key>
		<dict>
			<key>en</key>
			<string>System</string>
			<key>mr</key>
			<string>System</string>
		</dict>
		<key>fontSizeIndex</key>
		<integer>3</integer>
		<key>version</key>
		<integer>5</integer>
	</dict>
	<key>ReaderOrTranslationLastActivated</key>
	<date>2025-03-17T21:40:36Z</date>
	<key>RecentWebSearches</key>
	<array>
		<dict>
			<key>Date</key>
			<date>2025-10-03T17:33:38Z</date>
			<key>SearchString</key>
			<string>king county cpl sammamish</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=king+county+cpl+sammamish&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2025-10-03T17:20:45Z</date>
			<key>SearchString</key>
			<string>virginia mason billing</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=virginia+mason+billing&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2025-10-03T05:46:14Z</date>
			<key>SearchString</key>
			<string>mac tahoe build number</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=mac+tahoe+build+number&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2025-09-21T19:22:01Z</date>
			<key>SearchString</key>
			<string>imac:8888</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=imac%3A8888&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2025-09-19T05:04:08Z</date>
			<key>SearchString</key>
			<string>govee matter homekit</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=govee+matter+homekit&amp;ie=UTF-8&amp;oe=UTF-8</string>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=govee+matter+homekit&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2025-09-19T00:59:46Z</date>
			<key>SearchString</key>
			<string>daghabaaz</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?q=daghabaaz&amp;client=safari&amp;sca_esv=4cfc1c89add46c61&amp;rls=en&amp;udm=2&amp;biw=1281&amp;bih=1296&amp;ei=2arMaNzLJ9m90PEPnIDeGQ&amp;oq=daghabaaz&amp;gs_lp=Egtnd3Mtd2l6LWltZyIJZGFnaGFiYWF6KgIIBTIKEAAYgAQYQxiKBTIKEAAYgAQYQxiKBTIGEAAYBxgeMgUQABiABDIFEAAYgAQyChAAGIAEGEMYigUyBRAAGIAEMgUQABiABDIHEAAYgAQYCjIFEAAYgARI4hRQAFgAcAF4AJABAJgBAKABAKoBALgBAcgBAJgCAaACBpgDAIgGAZIHATGgBwCyBwC4BwDCBwMyLTHIBwU&amp;sclient=gws-wiz-img</string>
				<string>https://www.google.com/search?client=safari&amp;sca_esv=4cfc1c89add46c61&amp;rls=en&amp;udm=2&amp;fbs=AIIjpHxU7SXXniUZfeShr2fp4giZ1Y6MJ25_tmWITc7uy4KIeiAkWG4OlBE2zyCTMjPbGmMU8EWskMk2JSE__efdUJ3x-dd8PyEzi5Y9BtPQcYyUv2vYLpGLzullnMHPzMZpThFMX2b0FgaIC8A_oXlm43MMXFbxJXkxVO_xdeuvfPKOre05GoirZi02Ba82CmTVMrsAazOeBfpTx9LZdPPSoQHNKdxpbg&amp;q=daghabaaz&amp;sa=X&amp;ved=2ahUKEwiA59TOz-OPAxWlNzQIHaJVNf8QtKgLegQIJBAB&amp;biw=1281&amp;bih=1296</string>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=daghabaaz&amp;ie=UTF-8&amp;oe=UTF-8&amp;sei=16rMaKuSDNKD0PEPztuWmAQ</string>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=daghabaaz&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2025-09-18T19:53:39Z</date>
			<key>SearchString</key>
			<string>tmobile</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=tmobile&amp;ie=UTF-8&amp;oe=UTF-8&amp;dlnr=1&amp;sei=P2PMaP7AH6Gf0PEPorCa2AE</string>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=tmobile&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2025-08-24T04:21:30Z</date>
			<key>SearchString</key>
			<string>Cracker Barrel.</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=Cracker+Barrel.&amp;ie=UTF-8&amp;oe=UTF-8&amp;dlnr=1&amp;sei=R5OqaPv0K7uY0PEPs4zxqQQ</string>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=Cracker+Barrel.&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2025-08-22T04:43:04Z</date>
			<key>SearchString</key>
			<string>thakurnama substack</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=thakurnama+substack&amp;ie=UTF-8&amp;oe=UTF-8</string>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=thakurnama+substack&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2025-08-19T05:08:51Z</date>
			<key>SearchString</key>
			<string>meloni</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=meloni&amp;ie=UTF-8&amp;oe=UTF-8&amp;dlnr=1&amp;sei=4AakaIyyAtXk0PEP58vw0Ak</string>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=meloni&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2025-08-18T22:57:31Z</date>
			<key>SearchString</key>
			<string>Maligne Lake Cruise</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=Maligne+Lake+Cruise&amp;ie=UTF-8&amp;oe=UTF-8</string>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=Maligne+Lake+Cruise&amp;ie=UTF-8&amp;oe=UTF-8</string>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=Maligne+Lake+Cruise&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2025-08-18T22:48:18Z</date>
			<key>SearchString</key>
			<string>miette hot springs bungalows</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=miette+hot+springs+bungalows&amp;ie=UTF-8&amp;oe=UTF-8#lpg=cid:CgIgAQ%3D%3D,ik:CAoSF0NJSE0wb2dLRUlDQWdJQ3EyOVQya3dF</string>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=miette+hot+springs+bungalows&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2025-08-18T05:41:17Z</date>
			<key>SearchString</key>
			<string>aham brahmasmi</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=aham+brahmasmi&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2025-08-18T05:40:20Z</date>
			<key>SearchString</key>
			<string> BG 18.66</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=+BG+18.66&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2025-08-18T05:38:27Z</date>
			<key>SearchString</key>
			<string>btc price</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=btc+price&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2025-08-18T05:15:38Z</date>
			<key>SearchString</key>
			<string>how much does it cost to install a Mitsubishi M-series Electric Ducted Heat Pump Systems for single family home in king county wa state on an average</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?q=how+much+does+it+cost+to+install+a+Mitsubishi+M-series+Electric+Ducted+Heat+Pump+Systems+for+single+family+home+in+king+county+wa+state+on+an+average&amp;client=safari&amp;sca_esv=b8e54ca6192f18c5&amp;rls=en&amp;sxsrf=AE3TifMYjkLcScaFtpWD11MOBbSUaAIb2g%3A1755488586109&amp;ei=SqGiaOe1BvGk0PEPpJGyEQ&amp;ved=0ahUKEwjngtTMuJOPAxVxEjQIHaSILAIQ4dUDCBA&amp;uact=5&amp;oq=how+much+does+it+cost+to+install+a+Mitsubishi+M-series+Electric+Ducted+Heat+Pump+Systems+for+single+family+home+in+king+county+wa+state+on+an+average&amp;gs_lp=Egxnd3Mtd2l6LXNlcnAilQFob3cgbXVjaCBkb2VzIGl0IGNvc3QgdG8gaW5zdGFsbCBhIE1pdHN1YmlzaGkgTS1zZXJpZXMgRWxlY3RyaWMgRHVjdGVkIEhlYXQgUHVtcCBTeXN0ZW1zIGZvciBzaW5nbGUgZmFtaWx5IGhvbWUgaW4ga2luZyBjb3VudHkgd2Egc3RhdGUgb24gYW4gYXZlcmFnZUgAUABYAHAAeACQAQCYAQCgAQCqAQC4AQPIAQD4AQGYAgCgAgCYAwCSBwCgBwCyBwC4BwDCBwDIBwA&amp;sclient=gws-wiz-serp</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2025-08-18T04:44:56Z</date>
			<key>SearchString</key>
			<string>cadusd</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?q=cadusd&amp;client=safari&amp;sca_esv=c494bae66f0d82f6&amp;rls=en&amp;sxsrf=AE3TifOqLx7pUwQZFsT0z8-KN4Xfs3N2iQ%3A1755492290763&amp;ei=wq-iaOiyLt2C0PEPx9Hd2AI&amp;ved=0ahUKEwjom5azxpOPAxVdATQIHcdoFysQ4dUDCBA&amp;uact=5&amp;oq=cadusd&amp;gs_lp=Egxnd3Mtd2l6LXNlcnAiBmNhZHVzZDITEAAYgAQYkQIYsQMYigUYRhiCAjIHEAAYgAQYCjILEAAYgAQYkQIYigUyBxAAGIAEGAoyBxAAGIAEGAoyBxAAGIAEGAoyBxAAGIAEGAoyBxAAGIAEGAoyBxAAGIAEGAoyBxAAGIAEGAoyHxAAGIAEGJECGLEDGIoFGEYYggIYlwUYjAUY3QTYAQFI5BJQwwdYgA9wAngBkAEBmAGMAaABhASqAQM1LjG4AQPIAQD4AQGYAgegAqoDwgIKEAAYsAMY1gQYR8ICDRAAGIAEGLADGEMYigXCAgoQIxiABBgnGIoFwgIKEAAYgAQYQxiKBcICFhAuGIAEGLEDGNEDGEMYgwEYxwEYigXCAhEQLhiABBixAxjRAxiDARjHAcICBBAjGCfCAgUQABiABMICDRAAGIAEGLEDGEMYigXCAggQABiABBixA8ICBRAuGIAEwgIKEAAYgAQYsQMYCpgDAIgGAZAGCroGBggBEAEYE5IHATegB5ozsgcBNbgHoAPCBwcwLjEuNC4yyAcq&amp;sclient=gws-wiz-serp</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2025-08-18T04:44:50Z</date>
			<key>SearchString</key>
			<string>usdcad</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=usdcad&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2025-08-18T03:43:54Z</date>
			<key>SearchString</key>
			<string>Mitsubishi M-series Electric Ducted Heat Pump Systems for single family home in king county wa state</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?q=Mitsubishi+M-series+Electric+Ducted+Heat+Pump+Systems+for+single+family+home+in+king+county+wa+state&amp;client=safari&amp;sca_esv=b8e54ca6192f18c5&amp;rls=en&amp;sxsrf=AE3TifNZN2lDYYCkBgj7sP_fC75urJNQew%3A1755488531109&amp;ei=E6GiaLajBpyRm9cPnf-4sQs&amp;ved=0ahUKEwj2-LayuJOPAxWcyOYEHZ0_LrYQ4dUDCBA&amp;uact=5&amp;oq=Mitsubishi+M-series+Electric+Ducted+Heat+Pump+Systems+for+single+family+home+in+king+county+wa+state&amp;gs_lp=Egxnd3Mtd2l6LXNlcnAiZE1pdHN1YmlzaGkgTS1zZXJpZXMgRWxlY3RyaWMgRHVjdGVkIEhlYXQgUHVtcCBTeXN0ZW1zIGZvciBzaW5nbGUgZmFtaWx5IGhvbWUgaW4ga2luZyBjb3VudHkgd2Egc3RhdGVInr4BUMsEWOW5AXAHeAGQAQOYAXCgAewmqgEENjEuOLgBA8gBAPgBAvgBAZgCHaAC3hDCAgoQABiwAxjWBBhHwgIFECEYoAHCAgUQIRirAsICCBAAGIAEGKIEwgIFEAAY7wXCAgQQIRgKwgIFECEYkgOYAwCIBgGQBgiSBwQyMS44oAealAGyBwQxNy44uAfMEMIHBjEuOS4xOcgHVw&amp;sclient=gws-wiz-serp</string>
				<string>https://www.google.com/search?q=Mitsubishi+M-series+Electric+Ducted+Heat+Pump+Systems+for+single+family+home+in+king+county+wa+state&amp;client=safari&amp;sca_esv=b8e54ca6192f18c5&amp;rls=en&amp;sxsrf=AE3TifNZN2lDYYCkBgj7sP_fC75urJNQew%3A1755488531109&amp;ei=E6GiaLajBpyRm9cPnf-4sQs&amp;ved=0ahUKEwj2-LayuJOPAxWcyOYEHZ0_LrYQ4dUDCBA&amp;uact=5&amp;oq=Mitsubishi+M-series+Electric+Ducted+Heat+Pump+Systems+for+single+family+home+in+king+county+wa+state&amp;gs_lp=Egxnd3Mtd2l6LXNlcnAiZE1pdHN1YmlzaGkgTS1zZXJpZXMgRWxlY3RyaWMgRHVjdGVkIEhlYXQgUHVtcCBTeXN0ZW1zIGZvciBzaW5nbGUgZmFtaWx5IGhvbWUgaW4ga2luZyBjb3VudHkgd2Egc3RhdGVInr4BUMsEWOW5AXAHeAGQAQOYAXCgAewmqgEENjEuOLgBA8gBAPgBAvgBAZgCHaAC3hDCAgoQABiwAxjWBBhHwgIFECEYoAHCAgUQIRirAsICCBAAGIAEGKIEwgIFEAAY7wXCAgQQIRgKwgIFECEYkgOYAwCIBgGQBgiSBwQyMS44oAealAGyBwQxNy44uAfMEMIHBjEuOS4xOcgHVw&amp;sclient=gws-wiz-serp</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2025-08-18T03:42:10Z</date>
			<key>SearchString</key>
			<string>mitsubishi m-series heat pump for a ducted home </string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?q=mitsubishi+m-series+heat+pump+for+a+ducted+home%C2%A0&amp;client=safari&amp;sca_esv=b8e54ca6192f18c5&amp;rls=en&amp;sxsrf=AE3TifOdw8NqW78rbG7TAE2QV_CaUjW05w%3A1755456392835&amp;ei=iCOiaKzlMuSK0PEP99rmiQE&amp;ved=0ahUKEwisydrVwJKPAxVkBTQIHXetOREQ4dUDCBA&amp;uact=5&amp;oq=mitsubishi+m-series+heat+pump+for+a+ducted+home%C2%A0&amp;gs_lp=Egxnd3Mtd2l6LXNlcnAiMW1pdHN1YmlzaGkgbS1zZXJpZXMgaGVhdCBwdW1wIGZvciBhIGR1Y3RlZCBob21lwqAyBRAhGKABMgUQIRigATIFECEYoAEyBRAhGKABMgUQIRigATIFECEYqwJIxDpQkgZY_SxwAXgBkAEAmAFsoAHEDaoBBDE1LjS4AQPIAQD4AQGYAhSgAsAOwgIKEAAYsAMY1gQYR8ICBhAAGBYYHsICCxAAGIAEGIYDGIoFwgIIEAAYogQYiQXCAggQABiABBiiBMICBRAAGO8FmAMAiAYBkAYIkgcEMTEuOaAH8H6yBwQxMC45uAe4DsIHBjAuMi4xOMgHWA&amp;sclient=gws-wiz-serp</string>
			</array>
		</dict>
	</array>
	<key>ResponsiveDesignLastConfiguration</key>
	<dict>
		<key>pixelRatio</key>
		<integer>1</integer>
		<key>rotated</key>
		<false/>
		<key>screenHeight</key>
		<real>769</real>
		<key>screenWidth</key>
		<real>401</real>
	</dict>
	<key>ResponsiveDesignLastConfigurationIndex</key>
	<integer>9223372036854775807</integer>
	<key>SafariProfilesLastActiveProfileUUIDString</key>
	<string>DefaultProfile</string>
	<key>SafariVersionForExperimentalFeatures</key>
	<string>26.0.1</string>
	<key>SearchProviderIdentifierMigratedToSystemPreference</key>
	<true/>
	<key>SearchProviderShortName</key>
	<string>Google</string>
	<key>ShowBackgroundImageInFavorites</key>
	<false/>
	<key>ShowCloudTabsInFavorites</key>
	<true/>
	<key>ShowFavorites</key>
	<true/>
	<key>ShowFavoritesBar-v2</key>
	<true/>
	<key>ShowFrequentlyVisitedSites</key>
	<false/>
	<key>ShowHighlightsInFavorites</key>
	<false/>
	<key>ShowPrivacyReportInFavorites</key>
	<false/>
	<key>ShowReadingListInFavorites</key>
	<false/>
	<key>ShowRecentlyClosedTabsPreferenceKey</key>
	<false/>
	<key>ShowSidebarInNewWindows</key>
	<false/>
	<key>ShowSidebarInTopSites</key>
	<false/>
	<key>ShowSiriSuggestionsPreference</key>
	<false/>
	<key>ShowTabGroupFavoritesPreferenceKey</key>
	<false/>
	<key>SidebarBookmarksHierarchyViewPreference</key>
	<false/>
	<key>SidebarSplitViewDividerPosition</key>
	<real>240</real>
	<key>SidebarViewModeIdentifierV2</key>
	<integer>0</integer>
	<key>SkipLoadingEnabledAppExtensionsAtLaunch</key>
	<true/>
	<key>SkipLoadingEnabledContentBlockersAtLaunch</key>
	<false/>
	<key>SkipLoadingEnabledWebExtensionsAtLaunch</key>
	<false/>
	<key>StartPagePopoverUsesDefaultBackground</key>
	<true/>
	<key>StartPageSectionOrdering</key>
	<array>
		<string>tabGroupHeadingIdentifier</string>
		<string>tabGroupFavoritesItemIdentifier</string>
		<string>separatorSectionIdentifier</string>
		<string>startPageHeadingIdentifier</string>
		<string>favoritesItemIdentifier</string>
		<string>frequentlyVisitedItemIdentifier</string>
		<string>highlightsItemIdentifier</string>
		<string>privacyReportIdentifier</string>
		<string>exploreItemIdentifier</string>
		<string>readingListItemIdentifier</string>
		<string>recentlyClosedTabsInTabGroupItemIdentifier</string>
		<string>cloudTabsItemIdentifier</string>
	</array>
	<key>StartPageSections</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBYLDBogISgsLTEyNjc7PEBB
	RUZKS09QVSRudWxs0g0ODxlaTlMub2JqZWN0c1YkY2xhc3OpEBESExQVFhcYgAKABYAH
	gAmAC4ANgA+AEYATgBXTGxwOHR4fWklkZW50aWZpZXJZSXNFbmFibGVkgAMIgARfEBVl
	eHBsb3JlSXRlbUlkZW50aWZpZXLSIiMkJVokY2xhc3NuYW1lWCRjbGFzc2VzXxAdV0JT
	U3RhcnRQYWdlU2VjdGlvbkRlc2NyaXB0b3KiJidfEB1XQlNTdGFydFBhZ2VTZWN0aW9u
	RGVzY3JpcHRvclhOU09iamVjdNMbHA4pKh+ABgmABF8QF2Zhdm9yaXRlc0l0ZW1JZGVu
	dGlmaWVy0xscDi4eH4AICIAEXxAfZnJlcXVlbnRseVZpc2l0ZWRJdGVtSWRlbnRpZmll
	ctMbHA4zHh+ACgiABF8QGGhpZ2hsaWdodHNJdGVtSWRlbnRpZmllctMbHA44Hh+ADAiA
	BF8QF3ByaXZhY3lSZXBvcnRJZGVudGlmaWVy0xscDj0eH4AOCIAEXxAZcmVhZGluZ0xp
	c3RJdGVtSWRlbnRpZmllctMbHA5CKh+AEAmABF8QF2Nsb3VkVGFic0l0ZW1JZGVudGlm
	aWVy0xscDkceH4ASCIAEXxAqcmVjZW50bHlDbG9zZWRUYWJzSW5UYWJHcm91cEl0ZW1J
	ZGVudGlmaWVy0xscDkwqH4AUCYAEXxAZc3VnZ2VzdGlvbnNJdGVtSWRlbnRpZmllctIi
	I1FSXk5TTXV0YWJsZUFycmF5o1FTJ1dOU0FycmF5AAgAEQAaACQAKQAyADcASQBMAFEA
	UwBsAHIAdwCCAIkAkwCVAJcAmQCbAJ0AnwChAKMApQCnAK4AuQDDAMUAxgDIAOAA5QDw
	APkBGQEcATwBRQFMAU4BTwFRAWsBcgF0AXUBdwGZAaABogGjAaUBwAHHAckBygHMAeYB
	7QHvAfAB8gIOAhUCFwIYAhoCNAI7Aj0CPgJAAm0CdAJ2AncCeQKVApoCqQKtAAAAAAAA
	AgEAAAAAAAAAVAAAAAAAAAAAAAAAAAAAArU=
	</data>
	<key>SuccessfulLaunchTimestamp</key>
	<real>781204670.54166198</real>
	<key>UniversalSearchFeatureNotificationHasBeenDisplayed</key>
	<true/>
	<key>UserAgentQuirksConfigurationUpdateDate</key>
	<date>2025-10-03T05:44:11Z</date>
	<key>UserHasUsedNonVirtualCardPreference</key>
	<true/>
	<key>UserStyleSheetEnabled</key>
	<false/>
	<key>WBSCloudKitStartPageSectionOrder</key>
	<array>
		<string>exploreItemIdentifier</string>
		<string>favoritesItemIdentifier</string>
		<string>frequentlyVisitedItemIdentifier</string>
		<string>highlightsItemIdentifier</string>
		<string>privacyReportIdentifier</string>
		<string>readingListItemIdentifier</string>
		<string>cloudTabsItemIdentifier</string>
		<string>recentlyClosedTabsInTabGroupItemIdentifier</string>
		<string>recentlyClosedTabsItemIdentifier</string>
		<string>suggestionsItemIdentifier</string>
	</array>
	<key>WBSDateOfLastPruningOfInactiveCloudExtensionDevices</key>
	<date>2025-10-03T17:18:05Z</date>
	<key>WBSDateOfLastSaveOfCurrentCloudExtensionDevice</key>
	<date>2025-10-03T05:51:45Z</date>
	<key>WBSOfflineSearchDisablementKey</key>
	<date>2025-10-03T05:43:53Z</date>
	<key>WBSOfflineSearchSuggestionsModelGoogleWasDefaultSearchEngineKey</key>
	<true/>
	<key>WBSOfflineSearchSuggestionsModelLastUpdateDateKey</key>
	<string>2025-10-03-1017</string>
	<key>WBSOfflineSearchSuggestionsModelLastUsedLocaleIdentifierKey</key>
	<string>en_US</string>
	<key>WBSParsecABGroupIdentifier</key>
	<integer>9</integer>
	<key>WBSParsecABGroupIdentifierGenerationDate</key>
	<date>2024-06-04T04:59:00Z</date>
	<key>WBSPasswordWarningTopFraudTargetsLastUpdate</key>
	<date>2025-04-14T18:10:36Z</date>
	<key>WBSPerSiteSettingSyncInitialSyncCompletedKey</key>
	<true/>
	<key>WBSPeriodicSyncSuccessesCount</key>
	<integer>5</integer>
	<key>WBSPrivacyProxyAvailabilityAccountType</key>
	<integer>2</integer>
	<key>WBSPrivacyProxyAvailabilityActiveOnDefaultNetwork</key>
	<false/>
	<key>WBSPrivacyProxyAvailabilityServiceStatus</key>
	<integer>0</integer>
	<key>WBSPrivacyProxyAvailabilitySubscriberTier</key>
	<false/>
	<key>WBSPrivacyProxyAvailabilitySubscriberTierAvailableInUserCountry</key>
	<false/>
	<key>WBSPrivacyProxyAvailabilitySubscriberTierUnavailableInUserCountry</key>
	<false/>
	<key>WBSPrivacyProxyAvailabilityTraffic</key>
	<integer>134085868</integer>
	<key>WBSRemoteAutoFillQuirksLastUpdateTime</key>
	<date>2025-10-03T05:44:27Z</date>
	<key>WBSTranslationConsentedToFirstTimeAlertSettingsKey</key>
	<true/>
	<key>WebKitDeveloperExtrasEnabledPreferenceKey</key>
	<true/>
	<key>WebKitPreferences.allowsPictureInPictureMediaPlayback</key>
	<true/>
	<key>WebKitPreferences.applePayEnabled</key>
	<true/>
	<key>WebKitPreferences.developerExtrasEnabled</key>
	<true/>
	<key>WebKitPreferences.hiddenPageDOMTimerThrottlingAutoIncreases</key>
	<true/>
	<key>WebKitPreferences.invisibleMediaAutoplayNotPermitted</key>
	<true/>
	<key>WebKitPreferences.javaScriptCanOpenWindowsAutomatically</key>
	<true/>
	<key>WebKitPreferences.needsStorageAccessFromFileURLsQuirk</key>
	<false/>
	<key>WebKitPreferences.pushAPIEnabled</key>
	<true/>
	<key>WebKitPreferences.shouldAllowUserInstalledFonts</key>
	<false/>
	<key>WebKitPreferences.shouldPrintBackgrounds</key>
	<true/>
	<key>WebKitPreferences.shouldSuppressKeyboardInputDuringProvisionalNavigation</key>
	<true/>
	<key>WebKitPreferences.storageBlockingPolicy</key>
	<integer>1</integer>
	<key>WebKitPreferences.usesPageCache</key>
	<true/>
	<key>WebKitRespectStandardStyleKeyEquivalents</key>
	<true/>
	<key>WebKitShouldPrintBackgroundsPreferenceKey</key>
	<true/>
	<key>WebKitStorageBlockingPolicy</key>
	<integer>1</integer>
	<key>WebsiteNameProviderLastUpdateTime</key>
	<date>2025-10-03T05:43:51Z</date>
	<key>com.apple.MobileAsset.PhishingImageClassifier2.UpdateDate</key>
	<date>2024-07-12T15:58:32Z</date>
	<key>com.apple.MobileAsset.SafariBackgroundImage.UpdateDate</key>
	<date>2025-10-03T17:19:26Z</date>
	<key>com.apple.Safari.WebInspectorPageGroupIdentifier.WebKit2InspectorAttachedHeight</key>
	<integer>975</integer>
	<key>com.apple.Safari.WebInspectorPageGroupIdentifier.WebKit2InspectorAttachedWidth</key>
	<integer>1005</integer>
	<key>com.apple.Safari.WebInspectorPageGroupIdentifier.WebKit2InspectorAttachmentSide</key>
	<integer>2</integer>
	<key>com.apple.Safari.WebInspectorPageGroupIdentifier.WebKit2InspectorStartsAttached</key>
	<true/>
	<key>com.apple.WebPrivacy.ResourceMonitorURLsVersion</key>
	<string>qrsAAAGXnXBrwGxMO6s=</string>
	<key>com.apple.WebPrivacy.TrackingResourceRequestContentBlockerVersion</key>
	<string>qrsAAAGSKksiIAhvTDg=</string>
	<key>customizationSyncServerToken</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwRElUkbnVsbNINDg8QViRj
	bGFzc18QD0NoYW5nZVRva2VuRGF0YYADgAJPEDEfChASDAAAjhpVkTREAAAAABgCGAAi
	FgjggfWt9rju+oABEI2N5YDxs9DotgEoAEgA0hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nl
	c18QE0NLU2VydmVyQ2hhbmdlVG9rZW6iFRdYTlNPYmplY3QIERokKTI3SUxRU1heY2p8
	foC0ucTN4+YAAAAAAAABAQAAAAAAAAAYAAAAAAAAAAAAAAAAAAAA7w==
	</data>
	<key>familySharingTipAcknowledgementDate</key>
	<date>2024-06-25T04:41:25Z</date>
	<key>generalSharingTipAcknowledgementDate</key>
	<date>2024-06-25T04:41:25Z</date>
	<key>kAOSUIProfilePictureCropRect</key>
	<string>{{0, 0}, {0, 0}}</string>
	<key>lastPasswordWarningManagerUpdate</key>
	<date>2025-10-03T17:58:41Z</date>
	<key>lastPasswordWarningManagerUpdateHasNewWarnings</key>
	<true/>
	<key>lastPasswordWarningManagerUpdateHashes</key>
	<array>
		<integer>450341987385352320</integer>
		<integer>450341987385352320</integer>
		<integer>2415905710831958184</integer>
		<integer>1467480594960265778</integer>
		<integer>10457694086927837304</integer>
		<integer>10457694086927837304</integer>
		<integer>10457694086927837302</integer>
		<integer>10457694086927837305</integer>
		<integer>8203032548583111364</integer>
		<integer>12909851077313782422</integer>
		<integer>9583220373158731855</integer>
		<integer>9784509895582876221</integer>
		<integer>243764568797888474</integer>
		<integer>243764568797888469</integer>
		<integer>243764568797888469</integer>
		<integer>5483909779488571431</integer>
		<integer>5483909779488571430</integer>
		<integer>5483909779488571431</integer>
		<integer>5483909779488571433</integer>
		<integer>5483909779488571433</integer>
		<integer>5483909779488571431</integer>
		<integer>5483909779488571430</integer>
		<integer>5483909779488571433</integer>
		<integer>5483909779488571431</integer>
		<integer>5483909779488571431</integer>
		<integer>5483909779488571433</integer>
		<integer>5483909779488571433</integer>
		<integer>5483909779488571433</integer>
		<integer>5483909779488571433</integer>
		<integer>13553905453690561212</integer>
		<integer>16933491511729818480</integer>
		<integer>4766040503984620856</integer>
		<integer>4766040503984620856</integer>
		<integer>9650624522628109081</integer>
		<integer>11151919518449943124</integer>
		<integer>14270320098324393826</integer>
		<integer>9382912705869668594</integer>
		<integer>9272578009551536</integer>
		<integer>14809266234099669825</integer>
		<integer>4463398439670984949</integer>
		<integer>4463398439670984957</integer>
		<integer>4463398439670984957</integer>
		<integer>4463398439670984957</integer>
		<integer>4787514348295045455</integer>
		<integer>15330054363556208719</integer>
		<integer>5507774075642288973</integer>
		<integer>4953323894995467758</integer>
		<integer>13529114252551085845</integer>
		<integer>12248774124241440218</integer>
		<integer>2059029919863656917</integer>
		<integer>2059029919863656917</integer>
		<integer>2059029919863656917</integer>
		<integer>9391609147950703864</integer>
		<integer>36162511814</integer>
		<integer>13462255174193761482</integer>
		<integer>10957127120699866381</integer>
		<integer>10957127120699866381</integer>
		<integer>523974038</integer>
		<integer>523974040</integer>
		<integer>523974039</integer>
		<integer>5910382978039429299</integer>
		<integer>14658023987281085265</integer>
		<integer>5581091639096927582</integer>
		<integer>11144211840199587770</integer>
		<integer>11144211840199587770</integer>
		<integer>5214381341476864949</integer>
		<integer>4638947402114228887</integer>
		<integer>5286698083113768381</integer>
		<integer>1208840546127394295</integer>
		<integer>2934091209376521127</integer>
		<integer>8098665319857950625</integer>
		<integer>12969006527101861233</integer>
		<integer>576477771670887026</integer>
		<integer>2823308329938141903</integer>
		<integer>2823308329938141903</integer>
		<integer>10537186984923325783</integer>
		<integer>5362924429840640654</integer>
		<integer>7041963095892124970</integer>
		<integer>5398353344896251058</integer>
		<integer>15533642282963121371</integer>
		<integer>366202576845286912</integer>
		<integer>15319568468408334340</integer>
		<integer>8223352974136818214</integer>
		<integer>5028127238289872344</integer>
		<integer>5318356343945326621</integer>
		<integer>17263869850819140625</integer>
		<integer>7673934656778794896</integer>
		<integer>7673934656780900511</integer>
		<integer>216737813138187839</integer>
		<integer>216737813138189886</integer>
		<integer>216737813138189886</integer>
	</array>
	<key>lastRecentlyDeletedNotificationDateDictionary</key>
	<dict/>
	<key>menuBarTipAcknowledgementData</key>
	<date>2025-08-10T21:48:39Z</date>
	<key>settingsSyncAccountDSIDHash</key>
	<data>
	PudapbHCncEh3w3+AWePkwd9T0A=
	</data>
	<key>settingsSyncAccountHash</key>
	<data>
	PudapbHCncEh3w3+AWePkwd9T0A=
	</data>
	<key>turnOnAutoFillRequestLastDate-com.apple.Passwords</key>
	<date>2025-04-27T03:14:46Z</date>
</dict>
</plist>
