<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssistiveControlType</key>
	<integer>2</integer>
	<key>FontSizeCategory</key>
	<dict>
		<key>com.apple.MobileSMS</key>
		<string>XXL</string>
		<key>com.apple.Notes</key>
		<string>XXXL</string>
		<key>com.apple.finder</key>
		<string>XXL</string>
		<key>com.apple.iBooksX</key>
		<string>XXL</string>
		<key>com.apple.iCal</key>
		<string>XXL</string>
		<key>com.apple.mail</key>
		<string>XXL</string>
		<key>com.apple.news</key>
		<string>XXL</string>
		<key>com.apple.stocks</key>
		<string>XXL</string>
		<key>com.apple.weather</key>
		<string>XXL</string>
		<key>global</key>
		<string>XXXL</string>
		<key>version</key>
		<string>3.0</string>
	</dict>
	<key>History</key>
	<dict>
		<key>MouseKeys</key>
		<array>
			<dict>
				<key>Date</key>
				<string>2025-03-12 20:46:03</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-03-12 21:10:36</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-03-13 17:34:59</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-03-13 18:28:35</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-03-15 14:47:03</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-03-15 21:09:48</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-03-16 12:50:29</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-03-16 20:29:24</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-03-16 20:33:57</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-03-17 08:52:30</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-04-02 04:14:10</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-04-02 04:14:38</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-04-02 04:14:38</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-04-02 04:14:38</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-04-10 21:20:24</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-04-16 12:54:33</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-04-16 12:55:09</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-04-16 12:55:10</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-04-16 12:55:18</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-04-26 19:09:13</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-04-27 21:52:58</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-04-28 17:06:40</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-05-14 13:13:31</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-05-14 13:14:00</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-05-14 13:14:01</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-05-14 13:14:03</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-05-15 22:16:08</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-05-29 15:21:52</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-05-29 15:38:50</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-06-08 16:43:57</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-06-12 21:01:51</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-07-11 22:55:58</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-07-29 15:33:13</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-07-29 15:33:45</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-07-29 15:33:45</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-07-29 15:33:48</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-08-01 13:46:45</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-08-08 10:13:00</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-08-08 23:03:33</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-08-11 19:40:25</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-08-13 21:00:17</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-09-18 16:47:12</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-09-21 12:52:03</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-09-21 22:29:07</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-10-02 22:43:35</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-10-02 23:04:03</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-10-02 23:04:35</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-10-02 23:04:35</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-10-02 23:04:36</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-10-03 10:57:07</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>UserAssignableHotKeys</key>
	<array>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<integer>120</integer>
			<key>modifier</key>
			<integer>8650752</integer>
			<key>sybmolichotkey</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<integer>99</integer>
			<key>modifier</key>
			<integer>8650752</integer>
			<key>sybmolichotkey</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<integer>118</integer>
			<key>modifier</key>
			<integer>8650752</integer>
			<key>sybmolichotkey</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<integer>96</integer>
			<key>modifier</key>
			<integer>8650752</integer>
			<key>sybmolichotkey</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<integer>97</integer>
			<key>modifier</key>
			<integer>8650752</integer>
			<key>sybmolichotkey</key>
			<integer>11</integer>
		</dict>
	</array>
	<key>closeViewCustomHotkeyKey</key>
	<dict>
		<key>AX_ZOOM_FREEZE_PANNING</key>
		<dict>
			<key>charCode</key>
			<integer>65535</integer>
			<key>keyCode</key>
			<integer>65535</integer>
			<key>modifiers</key>
			<integer>0</integer>
		</dict>
		<key>AX_ZOOM_MONITOR_SELECTION</key>
		<dict>
			<key>charCode</key>
			<integer>65535</integer>
			<key>keyCode</key>
			<integer>65535</integer>
			<key>modifiers</key>
			<integer>0</integer>
		</dict>
		<key>AX_ZOOM_TEMP_DETACH</key>
		<dict>
			<key>charCode</key>
			<integer>65535</integer>
			<key>keyCode</key>
			<integer>65535</integer>
			<key>modifiers</key>
			<integer>1310720</integer>
		</dict>
		<key>AX_ZOOM_TEMP_TOGGLE</key>
		<dict>
			<key>charCode</key>
			<integer>65535</integer>
			<key>keyCode</key>
			<integer>65535</integer>
			<key>modifiers</key>
			<integer>786432</integer>
		</dict>
		<key>AX_ZOOM_TOGGLE_FS_AND_PIP</key>
		<dict>
			<key>charCode</key>
			<integer>102</integer>
			<key>keyCode</key>
			<integer>3</integer>
			<key>modifiers</key>
			<integer>1572864</integer>
		</dict>
	</dict>
	<key>closeViewHotkeysEnabled</key>
	<false/>
	<key>closeViewZoomDisplayID</key>
	<integer>0</integer>
	<key>closeViewZoomFactor</key>
	<real>1</real>
	<key>com.apple.custommenu.apps</key>
	<array>
		<string>com.apple.Music</string>
		<string>NSGlobalDomain</string>
	</array>
	<key>customFonts</key>
	<true/>
	<key>dwellEnabled</key>
	<false/>
	<key>dwellTimeDefaultAction</key>
	<real>3</real>
	<key>grayscale</key>
	<false/>
	<key>hoverTextActivationLockMode</key>
	<integer>0</integer>
	<key>hoverTextBorderColor</key>
	<dict/>
	<key>hoverTextCustomBackgroundColor</key>
	<dict/>
	<key>hoverTextCustomFontColor</key>
	<dict/>
	<key>hoverTextElementHighlightColor</key>
	<dict/>
	<key>hoverTextEnabled</key>
	<false/>
	<key>hoverTextFontSize</key>
	<real>60</real>
	<key>hoverTextFontStyle</key>
	<integer>1</integer>
	<key>hoverTextModifier</key>
	<integer>2</integer>
	<key>hoverTypingEnabled</key>
	<false/>
	<key>hudNotifiedConstrast</key>
	<real>0.0</real>
	<key>keyboardAccessCommandMap</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwRVSRudWxs0g0ODxBfEBNj
	b21tYW5kc1RvS2V5Q2hvcmRzViRjbGFzc4AAgALSEhMUFVokY2xhc3NuYW1lWCRjbGFz
	c2VzXxAWQVhTU0tleWJvYXJkQ29tbWFuZE1hcKIWF18QFkFYU1NLZXlib2FyZENvbW1h
	bmRNYXBYTlNPYmplY3QIERokKTI3SUxRU1ddYnh/gYOIk5y1uNEAAAAAAAABAQAAAAAA
	AAAYAAAAAAAAAAAAAAAAAAAA2g==
	</data>
	<key>keyboardAccessFocusRingTimeout</key>
	<real>15</real>
	<key>liveSpeechEnabled</key>
	<false/>
	<key>login</key>
	<false/>
	<key>mouseDriverCursorSize</key>
	<real>1.5264661312103271</real>
	<key>sessionChange</key>
	<false/>
	<key>slowKey</key>
	<false/>
	<key>slowKeyDelay</key>
	<integer>250</integer>
	<key>stickyKey</key>
	<false/>
	<key>switchOnOffKey</key>
	<false/>
	<key>systemTranscriptionTranscriptionViewBackgroundColor</key>
	<dict/>
	<key>systemTranscriptionTranscriptionViewFontColor</key>
	<dict/>
	<key>useStickyKeysShortcutKeys</key>
	<false/>
	<key>virtualKeyboardOnOff</key>
	<false/>
</dict>
</plist>
