<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IIO_LaunchInfo</key>
	<real>8</real>
	<key>autohide</key>
	<true/>
	<key>last-analytics-stamp</key>
	<array>
		<real>777441624.08325803</real>
	</array>
	<key>lastShowIndicatorTime</key>
	<real>777531636.12187898</real>
	<key>loc</key>
	<string>en_US:US</string>
	<key>minimize-to-application</key>
	<true/>
	<key>mod-count</key>
	<integer>6056</integer>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>3273381247</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazgCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAWAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwgAAAABAQAATWFpbC5hcHAMAAAAAQYAABAAAAAgAAAA
				NAAAAAgAAAAEAwAAFwAAAP///w8IAAAABAMAABkAAAD/
				//8PCAAAAAQDAAD5GgAA////DwwAAAABBgAAWAAAAGgA
				AAB4AAAACAAAAAAEAABBxrzVhQAAABgAAAABAgAAAgAA
				AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxl
				Oi8vLwMAAAABAQAAU1NEAAgAAAAEAwAAACBFjNABAAAk
				AAAAAQEAADA2NzgwNEE5LUUxMzktNDZBQy1CN0YxLUQ4
				NjU2MTkyQTA3QhgAAAABAgAAgQAAAAEAAADvEwAAAQAA
				AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA
				/v///wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAACI
				AAAAAAAAABAQAACsAAAAAAAAAEAQAACcAAAAAAAAAAIg
				AABEAQAAAAAAAAUgAADMAAAAAAAAABAgAADcAAAAAAAA
				ABEgAAD4AAAAAAAAABIgAADoAAAAAAAAABMgAACcAAAA
				AAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAE
				AAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.mail</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Mail.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Mail</string>
				<key>file-mod-date</key>
				<integer>3824100362</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3824100362</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>342930364</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAZAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxQAAAABAQAAaVBob25lIE1pcnJvcmluZy5hcHAMAAAA
				AQYAABAAAAAgAAAANAAAAAgAAAAEAwAAFwAAAP///w8I
				AAAABAMAABkAAAD///8PCAAAAAQDAAA6gwAA////DwwA
				AAABBgAAZAAAAHQAAACEAAAACAAAAAAEAABBxqk/R4AA
				ABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
				CAAAAAEJAABmaWxlOi8vLwMAAAABAQAAU1NEAAgAAAAE
				AwAAACBFjNABAAAkAAAAAQEAADA2NzgwNEE5LUUxMzkt
				NDZBQy1CN0YxLUQ4NjU2MTkyQTA3QhgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABQ
				AAAAAAAAAAUQAACUAAAAAAAAABAQAAC4AAAAAAAAAEAQ
				AACoAAAAAAAAAAIgAABQAQAAAAAAAAUgAADYAAAAAAAA
				ABAgAADoAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAA
				AAAAABMgAACoAAAAAAAAACAgAAAwAQAAAAAAADAgAABc
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.ScreenContinuity</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/iPhone%20Mirroring.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>iPhone Mirroring</string>
				<key>file-mod-date</key>
				<integer>3821533071</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3821533071</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3273381257</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAXAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwkAAAABAQAATXVzaWMuYXBwAAAADAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAABcAAAD///8PCAAAAAQDAAAZ
				AAAA////DwgAAAAEAwAAQiIAAP///w8MAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQca81YUAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8DAAAAAQEAAFNTRAAIAAAABAMAAAAgRYzQ
				AQAAJAAAAAEBAAAwNjc4MDRBOS1FMTM5LTQ2QUMtQjdG
				MS1EODY1NjE5MkEwN0IYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAASAAAAAAAAAAF
				EAAAjAAAAAAAAAAQEAAAsAAAAAAAAABAEAAAoAAAAAAA
				AAACIAAASAEAAAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAA
				AAAAAAARIAAA/AAAAAAAAAASIAAA7AAAAAAAAAATIAAA
				oAAAAAAAAAAgIAAAKAEAAAAAAAAwIAAAVAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Music</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Music.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Music</string>
				<key>file-mod-date</key>
				<integer>3824100362</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3824100362</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1093746269</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAUAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zFgAAAAEBAABWaXN1YWwg
				U3R1ZGlvIENvZGUuYXBwAAAIAAAAAQYAABAAAAAkAAAA
				CAAAAAQDAABzd1kHAAAAAAgAAAAEAwAAEh9ZBwAAAAAI
				AAAAAQYAAFQAAABkAAAACAAAAAAEAABBxqzgUAAAABgA
				AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAA
				AAEJAABmaWxlOi8vLwMAAAABAQAAU1NEAAgAAAAEAwAA
				ACBFjNABAAAIAAAAAAQAAEHGqT9HgAAAJAAAAAEBAAAw
				Njc4MDRBOS1FMTM5LTQ2QUMtQjdGMS1EODY1NjE5MkEw
				N0IYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAA
				AAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8BAAAA
				AAAAAA0AAAAEEAAARAAAAAAAAAAFEAAAdAAAAAAAAAAQ
				EAAAlAAAAAAAAABAEAAAhAAAAAAAAAACIAAAPAEAAAAA
				AAAFIAAAtAAAAAAAAAAQIAAAxAAAAAAAAAARIAAA8AAA
				AAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAA
				HAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.microsoft.VSCode</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Visual%20Studio%20Code.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Visual Studio Code</string>
				<key>file-mod-date</key>
				<integer>3822008736</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>11690430178923</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3273381245</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1gEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAeAMAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAHAAAAAQEAAFZvbHVtZXMABwAA
				AAEBAABQcmVib290AAkAAAABAQAAQ3J5cHRleGVzAAAA
				AwAAAAEBAABBcHAADAAAAAEBAABBcHBsaWNhdGlvbnMK
				AAAAAQEAAFNhZmFyaS5hcHAAACAAAAABBgAAEAAAACAA
				AAAwAAAAQAAAAFQAAAAQAAAAYAAAAHQAAAAIAAAABAMA
				ABcAAAD///8PCAAAAAQDAACicwkA////DwgAAAAEAwAA
				AgAAAAAAAAAIAAAABAMAAD8BAAAAAAAACAAAAAQDAABB
				AQAAAAAAAAgAAAAEAwAAdbUOAAAAAAAIAAAABAMAAHa1
				DgAAAAAACAAAAAQDAAB3tQ4AAAAAACAAAAABBgAAsAAA
				AMAAAADQAAAA4AAAAPAAAAAAAQAAEAEAACABAAAIAAAA
				AAQAAEHHFaKagAAAGAAAAAECAAACAAAAAAAAAA8AAAAA
				AAAAAAAAAAAAAAAfAAAAAQkAAGZpbGU6Ly8vU3lzdGVt
				L1ZvbHVtZXMvUHJlYm9vdC8ACAAAAAQDAAAAIEWM0AEA
				AAgAAAAABAAAQcW0ZQzEEZEkAAAAAQEAADM1ODMwREUz
				LUM0NzgtNDY1RC05RkYzLTMzRTJDQTZFRDk5MBgAAAAB
				AgAAhQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAFwAAAAEB
				AAAvU3lzdGVtL1ZvbHVtZXMvUHJlYm9vdAAIAAAAAQkA
				AGZpbGU6Ly8vAwAAAAEBAABTU0QACAAAAAAEAABBxxWw
				fgAAACQAAAABAQAAMDY3ODA0QTktRTEzOS00NkFDLUI3
				RjEtRDg2NTYxOTJBMDdCGAAAAAECAACBAAAAAQAAAO8T
				AAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAABgAAAA/v//
				/wDwAAAAAAAABwAAAAIgAAC0AgAAAAAAAAUgAAA8AgAA
				AAAAABAgAABMAgAAAAAAABEgAABoAgAAAAAAABIgAACw
				AQAAAAAAABMgAABYAgAAAAAAACAgAACUAgAAAAAAAAQA
				AAADAwAAAPAAAAQAAAADAwAAAAAAAAQAAAADAwAAAQAA
				ACQAAAABBgAAKAMAADQDAAA0AwAAQAMAADQDAAA0AwAA
				NAMAADQDAAA0AwAAqAAAAP7///8BAAAAwAIAAA0AAAAE
				EAAAiAAAAAAAAAAFEAAAMAEAAAAAAAAQEAAAaAEAAAAA
				AABAEAAAWAEAAAAAAAAAIAAATAMAAAAAAAACIAAAHAIA
				AAAAAAAFIAAAiAEAAAAAAAAQIAAAMAAAAAAAAAARIAAA
				0AEAAAAAAAASIAAAsAEAAAAAAAATIAAAwAEAAAAAAAAg
				IAAA/AEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Safari</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Volumes/Preboot/Cryptexes/App/System/Applications/Safari.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Safari</string>
				<key>file-mod-date</key>
				<integer>3819494699</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3819494699</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3273381244</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAYAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cw0AAAABAQAATGF1bmNocGFkLmFwcAAAAAwAAAABBgAA
				EAAAACAAAAA0AAAACAAAAAQDAAAVAAAA////DwgAAAAE
				AwAAFwAAAP///w8IAAAABAMAAFIZAAD///8PDAAAAAEG
				AABgAAAAcAAAAIAAAAAIAAAAAAQAAEHGCNMpgAAAGAAA
				AAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
				AQkAAGZpbGU6Ly8vAwAAAAEBAABTU0QACAAAAAQDAAAA
				IEWM0AEAACQAAAABAQAAMDY3ODA0QTktRTEzOS00NkFD
				LUI3RjEtRDg2NTYxOTJBMDdCGAAAAAECAACBAAAAAQAA
				AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAA
				AQUAAKgAAAD+////AQAAAAAAAAANAAAABBAAAEwAAAAA
				AAAABRAAAJAAAAAAAAAAEBAAALQAAAAAAAAAQBAAAKQA
				AAAAAAAAAiAAAEwBAAAAAAAABSAAANQAAAAAAAAAECAA
				AOQAAAAAAAAAESAAAAABAAAAAAAAEiAAAPAAAAAAAAAA
				EyAAAKQAAAAAAAAAICAAACwBAAAAAAAAMCAAAFgBAAAA
				AAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.launchpad.launcher</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Launchpad.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Launchpad</string>
				<key>file-mod-date</key>
				<integer>3800506195</integer>
				<key>file-type</key>
				<integer>169</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3800506195</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1093746265</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vayQCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAARAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABGaXJlZm94
				LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABzd1kH
				AAAAAAgAAAAEAwAAYtQJAAAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBxazV94AAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwMAAAABAQAAU1NEAAgAAAAEAwAAACBFjNABAAAIAAAA
				AAQAAEHGqT9HgAAAJAAAAAEBAAAwNjc4MDRBOS1FMTM5
				LTQ2QUMtQjdGMS1EODY1NjE5MkEwN0IYAAAAAQIAAIEA
				AAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAA
				AAAAAAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAA
				OAAAAAAAAAAFEAAAaAAAAAAAAAAQEAAAiAAAAAAAAABA
				EAAAeAAAAAAAAAACIAAAMAEAAAAAAAAFIAAAqAAAAAAA
				AAAQIAAAuAAAAAAAAAARIAAA5AAAAAAAAAASIAAAxAAA
				AAAAAAATIAAA1AAAAAAAAAAgIAAAEAEAAAAAAAAwIAAA
				PAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>org.mozilla.firefox</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Firefox.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Firefox</string>
				<key>file-mod-date</key>
				<integer>194574428175193</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>60665942146620</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1093746261</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABHb29nbGUg
				Q2hyb21lLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAA
				BAMAAHN3WQcAAAAACAAAAAQDAABJ3QkAAAAAAAgAAAAB
				BgAAUAAAAGAAAAAIAAAAAAQAAEHFrkjnAAAAGAAAAAEC
				AAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkA
				AGZpbGU6Ly8vAwAAAAEBAABTU0QACAAAAAQDAAAAIEWM
				0AEAAAgAAAAABAAAQcapP0eAAAAkAAAAAQEAADA2Nzgw
				NEE5LUUxMzktNDZBQy1CN0YxLUQ4NjU2MTkyQTA3QhgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAABAAAAAAAAAAAUQAABwAAAAAAAAABAQAACQ
				AAAAAAAAAEAQAACAAAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACwAAAAAAAAABAgAADAAAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.google.Chrome</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Google%20Chrome.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Google Chrome</string>
				<key>file-mod-date</key>
				<integer>153222465075741</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>69981725507273</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>595205844</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va2gCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAiAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwkAAAABAQAAVXRpbGl0aWVzAAAADAAAAAEBAABUZXJt
				aW5hbC5hcHAQAAAAAQYAABAAAAAgAAAANAAAAEgAAAAI
				AAAABAMAABUAAAD///8PCAAAAAQDAAAXAAAA////DwgA
				AAAEAwAAn2cAAP///w8IAAAABAMAAH18AAD///8PEAAA
				AAEGAAB0AAAAhAAAAJQAAACkAAAACAAAAAAEAABBxgjT
				KYAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAA
				AAAACAAAAAEJAABmaWxlOi8vLwMAAAABAQAAU1NEAAgA
				AAAEAwAAACBFjNABAAAkAAAAAQEAADA2NzgwNEE5LUUx
				MzktNDZBQy1CN0YxLUQ4NjU2MTkyQTA3QhgAAAABAgAA
				gQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAv
				AAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQ
				AABcAAAAAAAAAAUQAAC0AAAAAAAAABAQAADcAAAAAAAA
				AEAQAADMAAAAAAAAAAIgAAB0AQAAAAAAAAUgAAD8AAAA
				AAAAABAgAAAMAQAAAAAAABEgAAAoAQAAAAAAABIgAAAY
				AQAAAAAAABMgAADMAAAAAAAAACAgAABUAQAAAAAAADAg
				AACAAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Terminal</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Utilities/Terminal.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Terminal</string>
				<key>file-mod-date</key>
				<integer>3800506195</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3800506195</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2923635985</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAXAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwoAAAABAQAARmluZE15LmFwcAAADAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAABcAAAD///8PCAAAAAQDAAAZ
				AAAA////DwgAAAAEAwAAJhUAAP///w8MAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcapP0eAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8DAAAAAQEAAFNTRAAIAAAABAMAAAAgRYzQ
				AQAAJAAAAAEBAAAwNjc4MDRBOS1FMTM5LTQ2QUMtQjdG
				MS1EODY1NjE5MkEwN0IYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAASAAAAAAAAAAF
				EAAAjAAAAAAAAAAQEAAAsAAAAAAAAABAEAAAoAAAAAAA
				AAACIAAASAEAAAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAA
				AAAAAAARIAAA/AAAAAAAAAASIAAA7AAAAAAAAAATIAAA
				oAAAAAAAAAAgIAAAKAEAAAAAAAAwIAAAVAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.findmy</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/FindMy.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Find My</string>
				<key>file-mod-date</key>
				<integer>3821533071</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3821533071</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3273381304</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazgCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAWAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwgAAAABAQAASG9tZS5hcHAMAAAAAQYAABAAAAAgAAAA
				NAAAAAgAAAAEAwAAFwAAAP///w8IAAAABAMAABkAAAD/
				//8PCAAAAAQDAADsGAAA////DwwAAAABBgAAWAAAAGgA
				AAB4AAAACAAAAAAEAABBxqk/R4AAABgAAAABAgAAAgAA
				AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxl
				Oi8vLwMAAAABAQAAU1NEAAgAAAAEAwAAACBFjNABAAAk
				AAAAAQEAADA2NzgwNEE5LUUxMzktNDZBQy1CN0YxLUQ4
				NjU2MTkyQTA3QhgAAAABAgAAgQAAAAEAAADvEwAAAQAA
				AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA
				/v///wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAACI
				AAAAAAAAABAQAACsAAAAAAAAAEAQAACcAAAAAAAAAAIg
				AABEAQAAAAAAAAUgAADMAAAAAAAAABAgAADcAAAAAAAA
				ABEgAAD4AAAAAAAAABIgAADoAAAAAAAAABMgAACcAAAA
				AAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAE
				AAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Home</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Home.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Home</string>
				<key>file-mod-date</key>
				<integer>3821533071</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3821533071</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1093746232</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vayQCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAARAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zDAAAAAEBAABPYnNpZGlh
				bi5hcHAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABzd1kH
				AAAAAAgAAAAEAwAAdA4MAAAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBxZ0xXwAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwMAAAABAQAAU1NEAAgAAAAEAwAAACBFjNABAAAIAAAA
				AAQAAEHGqT9HgAAAJAAAAAEBAAAwNjc4MDRBOS1FMTM5
				LTQ2QUMtQjdGMS1EODY1NjE5MkEwN0IYAAAAAQIAAIEA
				AAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAA
				AAAAAAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAA
				OAAAAAAAAAAFEAAAaAAAAAAAAAAQEAAAiAAAAAAAAABA
				EAAAeAAAAAAAAAACIAAAMAEAAAAAAAAFIAAAqAAAAAAA
				AAAQIAAAuAAAAAAAAAARIAAA5AAAAAAAAAASIAAAxAAA
				AAAAAAATIAAA1AAAAAAAAAAgIAAAEAEAAAAAAAAwIAAA
				PAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>md.obsidian</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Obsidian.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Obsidian</string>
				<key>file-mod-date</key>
				<integer>3786398654</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>60665942146620</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1093746236</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAXAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwwAAAABAQAATWVzc2FnZXMuYXBwDAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAABcAAAD///8PCAAAAAQDAAAZ
				AAAA////DwgAAAAEAwAABSAAAP///w8MAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcbVF0yAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8DAAAAAQEAAFNTRAAIAAAABAMAAAAgRYzQ
				AQAAJAAAAAEBAAAwNjc4MDRBOS1FMTM5LTQ2QUMtQjdG
				MS1EODY1NjE5MkEwN0IYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAASAAAAAAAAAAF
				EAAAjAAAAAAAAAAQEAAAsAAAAAAAAABAEAAAoAAAAAAA
				AAACIAAASAEAAAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAA
				AAAAAAARIAAA/AAAAAAAAAASIAAA7AAAAAAAAAATIAAA
				oAAAAAAAAAAgIAAAKAEAAAAAAAAwIAAAVAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.MobileSMS</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Messages.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Messages</string>
				<key>file-mod-date</key>
				<integer>3827279769</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3827279769</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>595205854</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAZAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxQAAAABAQAAUXVpY2tUaW1lIFBsYXllci5hcHAMAAAA
				AQYAABAAAAAgAAAANAAAAAgAAAAEAwAAFQAAAP///w8I
				AAAABAMAABcAAAD///8PCAAAAAQDAABxRQAA////DwwA
				AAABBgAAZAAAAHQAAACEAAAACAAAAAAEAABBxgjTKYAA
				ABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
				CAAAAAEJAABmaWxlOi8vLwMAAAABAQAAU1NEAAgAAAAE
				AwAAACBFjNABAAAkAAAAAQEAADA2NzgwNEE5LUUxMzkt
				NDZBQy1CN0YxLUQ4NjU2MTkyQTA3QhgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABQ
				AAAAAAAAAAUQAACUAAAAAAAAABAQAAC4AAAAAAAAAEAQ
				AACoAAAAAAAAAAIgAABQAQAAAAAAAAUgAADYAAAAAAAA
				ABAgAADoAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAA
				AAAAABMgAACoAAAAAAAAACAgAAAwAQAAAAAAADAgAABc
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.QuickTimePlayerX</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/QuickTime%20Player.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>QuickTime Player</string>
				<key>file-mod-date</key>
				<integer>3800506195</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3800506195</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3273381253</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAYAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cw0AAAABAQAAUmVtaW5kZXJzLmFwcAAAAAwAAAABBgAA
				EAAAACAAAAA0AAAACAAAAAQDAAAXAAAA////DwgAAAAE
				AwAAGQAAAP///w8IAAAABAMAAChIAAD///8PDAAAAAEG
				AABgAAAAcAAAAIAAAAAIAAAAAAQAAEHGqT9HgAAAGAAA
				AAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
				AQkAAGZpbGU6Ly8vAwAAAAEBAABTU0QACAAAAAQDAAAA
				IEWM0AEAACQAAAABAQAAMDY3ODA0QTktRTEzOS00NkFD
				LUI3RjEtRDg2NTYxOTJBMDdCGAAAAAECAACBAAAAAQAA
				AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAA
				AQUAAKgAAAD+////AQAAAAAAAAANAAAABBAAAEwAAAAA
				AAAABRAAAJAAAAAAAAAAEBAAALQAAAAAAAAAQBAAAKQA
				AAAAAAAAAiAAAEwBAAAAAAAABSAAANQAAAAAAAAAECAA
				AOQAAAAAAAAAESAAAAABAAAAAAAAEiAAAPAAAAAAAAAA
				EyAAAKQAAAAAAAAAICAAACwBAAAAAAAAMCAAAFgBAAAA
				AAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.reminders</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Reminders.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Reminders</string>
				<key>file-mod-date</key>
				<integer>3821533071</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3821533071</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3273381254</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAXAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwkAAAABAQAATm90ZXMuYXBwAAAADAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAABUAAAD///8PCAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAbzYAAP///w8MAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcYTQmCAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8DAAAAAQEAAFNTRAAIAAAABAMAAAAgRYzQ
				AQAAJAAAAAEBAAAwNjc4MDRBOS1FMTM5LTQ2QUMtQjdG
				MS1EODY1NjE5MkEwN0IYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAASAAAAAAAAAAF
				EAAAjAAAAAAAAAAQEAAAsAAAAAAAAABAEAAAoAAAAAAA
				AAACIAAASAEAAAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAA
				AAAAAAARIAAA/AAAAAAAAAASIAAA7AAAAAAAAAATIAAA
				oAAAAAAAAAAgIAAAKAEAAAAAAAAwIAAAVAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Notes</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Notes.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Notes</string>
				<key>file-mod-date</key>
				<integer>3800506195</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3800506195</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3273381259</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAYAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cw0AAAABAQAAQXBwIFN0b3JlLmFwcAAAAAwAAAABBgAA
				EAAAACAAAAA0AAAACAAAAAQDAAAXAAAA////DwgAAAAE
				AwAAGQAAAP///w8IAAAABAMAABwAAAD///8PDAAAAAEG
				AABgAAAAcAAAAIAAAAAIAAAAAAQAAEHGqT9HgAAAGAAA
				AAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
				AQkAAGZpbGU6Ly8vAwAAAAEBAABTU0QACAAAAAQDAAAA
				IEWM0AEAACQAAAABAQAAMDY3ODA0QTktRTEzOS00NkFD
				LUI3RjEtRDg2NTYxOTJBMDdCGAAAAAECAACBAAAAAQAA
				AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAA
				AQUAAKgAAAD+////AQAAAAAAAAANAAAABBAAAEwAAAAA
				AAAABRAAAJAAAAAAAAAAEBAAALQAAAAAAAAAQBAAAKQA
				AAAAAAAAAiAAAEwBAAAAAAAABSAAANQAAAAAAAAAECAA
				AOQAAAAAAAAAESAAAAABAAAAAAAAEiAAAPAAAAAAAAAA
				EyAAAKQAAAAAAAAAICAAACwBAAAAAAAAMCAAAFgBAAAA
				AAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.AppStore</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/App%20Store.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>App Store</string>
				<key>file-mod-date</key>
				<integer>3821533071</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3821533071</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>3273381261</integer>
			<key>tile-data</key>
			<dict>
				<key>arrangement</key>
				<integer>2</integer>
				<key>book</key>
				<data>
				Ym9va4wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAiAEAAAQAAAADAwAAAAAAIAUA
				AAABAQAAVXNlcnMAAAALAAAAAQEAAGNsb3VkZ2VuaXVz
				AAkAAAABAQAARG93bmxvYWRzAAAADAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAANFEAAAAAAAACAAAAAQDAAA0
				ZgAAAAAAAAgAAAAEAwAAZ2YAAAAAAAAMAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcWoBYCAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAA
				AQAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6
				Ly8vAwAAAAEBAABTU0QACAAAAAQDAAAAIEWM0AEAAAgA
				AAAABAAAQcZjyEAAAAAkAAAAAQEAADA2NzgwNEE5LUUx
				MzktNDZBQy1CN0YxLUQ4NjU2MTkyQTA3QhgAAAABAgAA
				gQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAv
				AAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQ
				AABIAAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAA
				AEAQAACgAAAAAAAAAAIgAAB0AQAAAAAAAAUgAADsAAAA
				AAAAABAgAAD8AAAAAAAAABEgAAAoAQAAAAAAABIgAAAI
				AQAAAAAAABMgAAAYAQAAAAAAACAgAABUAQAAAAAAADAg
				AACAAQAAAAAAAAHAAADQAAAAAAAAABHAAAAgAAAAAAAA
				ABLAAADgAAAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>displayas</key>
				<integer>0</integer>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/cloudgenius/Downloads/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Downloads</string>
				<key>file-mod-date</key>
				<integer>94128009528971</integer>
				<key>file-type</key>
				<integer>2</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>222470222360800</integer>
				<key>preferreditemsize</key>
				<integer>-1</integer>
				<key>showas</key>
				<integer>1</integer>
			</dict>
			<key>tile-type</key>
			<string>directory-tile</string>
		</dict>
	</array>
	<key>recent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>1023280159</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAXAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwwAAAABAQAAQ2FsZW5kYXIuYXBwDAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAABcAAAD///8PCAAAAAQDAAAZ
				AAAA////DwgAAAAEAwAAKQ0AAP///w8MAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcdCkGIAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8DAAAAAQEAAFNTRAAIAAAABAMAAAAgRYzQ
				AQAAJAAAAAEBAAAwNjc4MDRBOS1FMTM5LTQ2QUMtQjdG
				MS1EODY1NjE5MkEwN0IYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAASAAAAAAAAAAF
				EAAAjAAAAAAAAAAQEAAAsAAAAAAAAABAEAAAoAAAAAAA
				AAACIAAASAEAAAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAA
				AAAAAAARIAAA/AAAAAAAAAASIAAA7AAAAAAAAAATIAAA
				oAAAAAAAAAAgIAAAKAEAAAAAAAAwIAAAVAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.iCal</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Calendar.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Calendar</string>
				<key>file-mod-date</key>
				<integer>3841628612</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3841628612</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1532935823</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaygCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAASAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zDQAAAAEBAABCaXR3YXJk
				ZW4uYXBwAAAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAA
				MbrjCAAAAAAIAAAABAMAALlR3QgAAAAACAAAAAEGAABM
				AAAAXAAAAAgAAAAABAAAQcc+U2QAAAAYAAAAAQIAAAIA
				AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmls
				ZTovLy8DAAAAAQEAAFNTRAAIAAAABAMAAAAgRYzQAQAA
				CAAAAAAEAABBx0KQYgAAACQAAAABAQAAMDY3ODA0QTkt
				RTEzOS00NkFDLUI3RjEtRDg2NTYxOTJBMDdCGAAAAAEC
				AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
				AC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAAAAANAAAA
				BBAAADwAAAAAAAAABRAAAGwAAAAAAAAAEBAAAIwAAAAA
				AAAAQBAAAHwAAAAAAAAAAiAAADQBAAAAAAAABSAAAKwA
				AAAAAAAAECAAALwAAAAAAAAAESAAAOgAAAAAAAAAEiAA
				AMgAAAAAAAAAEyAAANgAAAAAAAAAICAAABQBAAAAAAAA
				MCAAAEABAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.bitwarden.desktop</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Bitwarden.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Bitwarden</string>
				<key>file-mod-date</key>
				<integer>92199609642181</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>176131861232924</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1532935824</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vayACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAQAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zBwAAAAEBAABBcmMuYXBw
				AAgAAAABBgAAEAAAACQAAAAIAAAABAMAADG64wgAAAAA
				CAAAAAQDAADNen0IAAAAAAgAAAABBgAARAAAAFQAAAAI
				AAAAAAQAAEHHIgddAAAAGAAAAAECAAACAAAAAAAAAA8A
				AAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vAwAA
				AAEBAABTU0QACAAAAAQDAAAAIEWM0AEAAAgAAAAABAAA
				QcdCkGIAAAAkAAAAAQEAADA2NzgwNEE5LUUxMzktNDZB
				Qy1CN0YxLUQ4NjU2MTkyQTA3QhgAAAABAgAAgQAAAAEA
				AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAA
				AAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAAA0AAAA
				AAAAAAUQAABkAAAAAAAAABAQAACEAAAAAAAAAEAQAAB0
				AAAAAAAAAAIgAAAsAQAAAAAAAAUgAACkAAAAAAAAABAg
				AAC0AAAAAAAAABEgAADgAAAAAAAAABIgAADAAAAAAAAA
				ABMgAADQAAAAAAAAACAgAAAMAQAAAAAAADAgAAA4AQAA
				AAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>company.thebrowser.Browser</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Arc.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Arc</string>
				<key>file-mod-date</key>
				<integer>37232614301578</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>176131861232924</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>region</key>
	<string>US</string>
	<key>showhidden</key>
	<true/>
	<key>tilesize</key>
	<integer>40</integer>
	<key>trash-full</key>
	<true/>
	<key>version</key>
	<integer>1</integer>
	<key>wvous-br-corner</key>
	<integer>14</integer>
</dict>
</plist>
